specifications-test.openehr.org {
    reverse_proxy web
}
specifications-dev.openehr.org {
    reverse_proxy web
}
specifications.openehr.local {
    reverse_proxy web
}
specifications-test.openehr.local {
    reverse_proxy web-dev
}