{
    # https://caddyserver.com/docs/caddyfile/options#log
    log {
        level INFO
        output stdout
        format console
    }

    # https://caddyserver.com/docs/caddyfile/options#admin
    admin off
    persist_config off
}

(webserver_defaults) {
    root * /app/public
    log
    encode zstd gzip
    header -Server

    # Prevents unnecessarily invoking PHP
    @static_404 {
        path_regexp ^/(images|js|styles|fontawesome)/
        not file
    }
    handle @static_404 {
        log_skip
        respond "" 404 {
            close
        }
    }
    @static {
        path_regexp \.(jpg|jpeg|png|webp|gif|avif|ico|svg|css|js|gz|eot|ttf|otf|woff|woff2|pdf)$
        file {
            try_files {path}
        }
    }
    handle @static {
        header {
            Cache-Control "max-age=3600, public, must-revalidate"
        }
        log_skip
        file_server
    }
}

specifications-test.{$SUBDOMAIN},
specifications.{$SUBDOMAIN} {
    import webserver_defaults
    handle {
        php_fastcgi web:9000
    }
}

specifications-dev.{$SUBDOMAIN} {
    import webserver_defaults
    handle {
        php_fastcgi web-dev:9000
    }
}

mon-prometheus.specifications.{$SUBDOMAIN} {
    reverse_proxy prometheus:9090
}

mon-cadvisor.specifications.{$SUBDOMAIN} {
    reverse_proxy cadvisor:8080
}
