/* Basic elements and classes */
h1, h2, h3, h4, h5 {font-weight:600; line-height:120%; color:#023760; text-decoration:none;}

h1 {font-size:24px; margin: 0 0 1em 0;}
h2 {font-size:20px; margin: 1.2em 0 0.2em 0;}
h3 {font-size:16px; margin: 1.2em 0 0.2em 0; font-style:italic}
h4 {font-size:15px; margin: 1.2em 0 0.2em 0;}
h5 {font-size:13px; margin: 1.2em 0 0.2em 0;}
h6 {font-size:11px; font-weight:500; line-height:120%; color:#666; text-decoration:none; margin-top:0.1em; margin-bottom:0.1em;}

p {text-align: left; margin-bottom: 0.8em;}

img {margin: 10px 0 10px 0;}

.newsArticle {padding-bottom: 30px;}

.IndustryLogo {
	width: 150px;
	padding: 0px 20px 0px 0px;
	float: left;
	display: block;
	margin: 0;
}

.content1 {display: block; margin: 0;}
.content2 {display: block; margin: 0 0 0 2em;}

/*Main content area*/
#MainArea {
	margin: auto;

	width: 90%;
	max-width: 1350px;
	padding: 30px 0 30px 0;
 
	background-color: #fff;
}

#MainArea a {
	color: #3386ae;
 
	text-decoration: none;
} 

#MainArea a:hover {
	color: #3386ae;

	text-decoration: underline;
}

#SideMenu {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	width: 20%;
	margin: 0 0 30px 0;
	padding: 20px 20px 20px 10px;

	background-color: #f7f5e7;
	color: #220e10;

	font-size: 13px;
	font-weight: normal;
}

#SideMenu a {
	width: 170px;

	color: #220e10;

	text-decoration: none;
}

#SideMenu a:hover{
	color: #db572f;

	text-decoration: underline;
} 

#SideMenu .active {
	color: #db572f;
}

#SideMenu .active:hover{
	color: #db572f;

	text-decoration: none;
}

#SideMenu .active a {
	color: #db572f;
}

#SideMenu .active a:hover{
	color: #db572f;

	text-decoration: none;
}

#SideMenu ul {
	line-height: 200%;
}

#SideMenu span {
	display: inline-block;

	padding-right: 10px;

	color: #220e10;

	font-size: 15px;
	font-weight: 900;
	text-decoration: none; 
}

#SideMenu br {
	display: block;
	margin: 5px;
	padding: 0;
}

/* Content style */
#Content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	overflow: auto;
	width: 80%;
	padding: 10px 20px 70px 20px;

	background:#fff;

	text-align:justify;
}

#Content ul {
	padding-left: 10px;
	margin: 0 0 0.8em 0;

	list-style: disc;
	list-style-position: outside;
}

#Content ul ul {
	padding-left: 10px;
	margin: 0 0 0.8em 0;

	list-style: circle;
	list-style-position: outside;
}

#Content ol {
	padding-left: 10px;

	list-style-type: decimal;
	list-style-position: outside;
}


/* 
 * -------------------- Boxes ---------------------
 */

.specs_category_box {
    margin-bottom: 2em; 
    max-width: 1200px; 
    padding: 0.75em 0.25em 0.25em; 
    background-color: #ffeecc; 
    border-radius: 6px; 
    border: 2px solid #123f6d; 
}
.specs_category_box p { 
    margin: 0; 
}
.specs_category_box .group_title {
    font-weight: bold; 
    color: #123f6d; 
} 
.specs_category_box .group_box { 
    margin: 0 0.5em 0.75em; 
    border: 1px solid grey; 
    border-radius: 4px; 
    background-color: #f7f7f7;
    display: table-row;
}

/* ---- flex box for a component ---- */
.group_box .component_row { 
    display: flex; 
    flex-flow: row wrap; 
}

.component_row .component_cell { 
    width: 100px; 
    min-height: 32px; 
    display: table-cell; 
    background-color: white; 
    padding: 0.5em 0.25em 0.25em; 
    flex-grow: 0;
}

.component_row .releases { 
    width: 160px;
    border-left: 1px solid grey;
    background-color: white; 
    padding: 0.5em 0.25em 0.25em; 
    flex-grow: 0;
}
.component_cell .component_name { 
    font-weight: bold; 
}

/* ---- flex box for a component specs list ---- */
.component_row .specs_cell { 
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
    flex-grow: 3;
    padding: 0.75em 0.25em 0.25em; 
    border-left: 1px solid grey;
}

.specs_cell .specs_item { 
    margin-bottom: 1em; 
    max-width: 100px; 
    padding: 0.5em 0.25em 0.25em; 
    background-color: white; 
    border-radius: 4px; 
    border: 1px solid #123f6d;
}

.specs_cell .wide_specs_item { 
    margin-bottom: 1em; 
    max-width: 700px; 
    padding: 0.75em 0.25em 0.25em; 
    background-color: white; 
    border-radius: 4px; 
    border: 1px solid #123f6d; 
}

.specs_cell .specs_item > a { 
    font-weight: bold; 
}
.specs_cell .wide_specs_item > a { 
    font-weight: bold; 
}

/* ----- Table styles ----- */

/* Table with blue header background, grey cell background */
.TableBasic {
	border: 1px solid #ccc;

	margin-top: 15px;
	margin-bottom: 35px;
}

.TableBasic th {
	padding: 3px 5px 3px 5px;
	border: 1px solid #ccc;

	background: #98cee6;
	color: #023760;

	font-weight:900;
	font-size: 13px;
}

.TableBasic td {
	padding: 3px 5px 3px 5px;
	border: 1px solid #ccc;
	background: #f6f6ff;

	text-align: left;
	font-size: 13px;
}

/* Table with blue header background, light grey cell background */
.TableBasic2 {
	border: 1px solid #ccc;
}

.TableBasic2 th {
	padding: 3px 5px 3px 5px;
	border: 1px solid #ccc;

	background: #98cee6;
	color: #023760;

	font-weight:900;
	font-size: 12px;
}

.TableBasic2 td {
	padding: 3px 5px 3px 5px;
	border: 1px solid #ccc;
	background: #fafaff;

	text-align: left;
	font-size: 12px;
}


.TableInvisible {
	border: none;
}

.TableInvisible th {
	padding: 3px 5px 3px 5px;
	border: none;

	background-color: #ebf0f0;
	color: #023760;

	font-weight: 900;
}

.TableInvisible td {
	padding: 3px 5px 3px 5px;
	border: none;

	text-align: justify;
	vertical-align: top;
}


/* -------------------- Fluid layout ---------------------*/
@media (max-width:860px) {
	#SideMenu {
		width: 100%;
	}
	
	#Content {
		width: 100%;
	}
}

@media (min-width:861px){
	#SideMenu {
		max-width: 220px;
	}
}
